PORT=3000
GOOGLE_APPLICATION_PROJECT_ID=71c79677-1bdb-4717-806d-dd24b1a3e18c
GOOGLE_APPLICATION_CLIENT_EMAIL="firebase-adminsdk-jh4ue@71c79677-1bdb-4717-806d-dd24b1a3e18c.iam.gserviceaccount.com"
GOOGLE_APPLICATION_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nb3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW\nQyNTUxOQAAACBm01o1sP0YF/92b0f8kkv3hla6BI/3HLbtVqIS+NvPcgAAAJgtrSbpLa0m\n6QAAAAtzc2gtZWQyNTUxOQAAACBm01o1sP0YF/92b0f8kkv3hla6BI/3HLbtVqIS+NvPcg\nAAAEDeUEnWmXWHNhgFjZWLpymbFEEYFVwI5X9kYpNhmp0X0GbTWjWw/RgX/3ZvR/ySS/eG\nVroEj/cctu1WohL4289yAAAADkxMQFV0cmljdWxhcmlhAQIDBAUGBw==\n-----END PRIVATE KEY-----\n"
