<style>
    nav.top-nav {
        background-color: #cccccc;
        color: white;

        width: 100%;
        max-width: 100%;
        height: 5em;
        margin: 0px;
        padding: 0em 1em;

        left: 10px;
        bottom: 0vh;
        overflow-y: hidden;
        z-index: 999;

        border: 1px solid #cccccc;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav.top-nav .search-container {
        max-width: 100%;
    }

    nav.top-nav .search-container input {
        width: 100%;
    }

    nav.top-nav>a {
        cursor: pointer;
    }
</style>



<nav class="top-nav">
    <form class="search-container" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <a href="/">
        <img src="/icons/home.svg" alt="profile" class="icon">
    </a>
</nav>