<style>
    nav.top-nav {
        background-color: #cccccc;
        color: white;

        width: 100%;
        max-width: 100%;


        overflow-y: hidden;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav.top-nav a {

        width: 100%;
        max-width: 100%;

        overflow-y: hidden;


        flex-direction: column;
        align-items: center;
    }

    nav.top-nav .search-container {
        max-width: 75%;
        max-height: 100%;
    }

    nav.top-nav .search-container input {
        width: 100%;
        border-radius: 10px;
        height: 100%;

    }

    nav.top-nav>a {
        cursor: pointer;
    }
</style>



<nav class="top-nav">
    <a href="" class="back-button">
    </a>

    <a href="" class="w-75">
        <form class="search-container" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </a>
    <a href="/" class="profile-button">
        <img src="/icons/home.svg" alt="profile" class="icon">
    </a>
</nav>