<div class="card" style="width: 100%; background-color: white; ">
    <div class="card-body">
        <h5 class="card-title" style="color: #171d1cff; font-weight: 500;">{{title}}</h5>
        <span style="font-size: large; color: #171d1cff;">{{user}}</span>
        <div class="card-subtitle mb-2">
            {{star}}
        </div>
        <h5 class="card-title" style="font-weight: 200; font-size: smaller; font-style: italic; color: #3b77b6;">
            {{createdAt}}</h5>
        <p class="card-text" style="color: #171d1cff;">{{comment}}</p>
    </div>
</div>
