<div class="card" style="width: 100%; background-color: white;">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <span>{{user}}</span>
        <h5 class="card-title">{{createdAt}}</h5>
        <div class="card-subtitle mb-2 text-body-secondary">
            {{star}}
        </div>
        <p class="card-text">{{comment}}</p>
        <!-- <a href="#" class="card-link">Card link</a> -->
        <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
</div>
