div.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.5em;
}

div.addImageBox {
    text-align: center;
    margin-bottom: 2em;
}

#fileInput {
    display: none;
}

#imageButton {
    background-color: green;
    cursor: pointer;
    padding: 1em;
    border-radius: 1em;
    font-size: 1em;
}

#preview {
    width: 20em;
    height: 20em;
}

/* #img-0 {
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
} */
