main {
    margin-left: 2em;
    margin-right: 2em;
}

div.title {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

div.addImageBox {
    text-align: center;
    margin-bottom: 2em;
}

#fileInput {
    display: none;
}

.button {
    margin-top: 2em;
    background-color: #22542c;
    color: white;
    cursor: pointer;
    padding: 1em;
    border-radius: 1em;
    font-size: 1em;
}

.button:hover {
    background-color: #5b914b;
}

#preview {
    width: 20em;
    height: 20em;
}


.tags {
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
}

.tags>label {
    font-weight: bold;
}

.form-floating>label {
    color: black;
}

.dropdowns {
    max-width: 100%;
    font-size: 1.5em;
    border: none;
    border-radius: 0.5em;
    width: 12em;
    text-align: center;
    font-weight: bold;
    margin-top: 0.5em;
    background-color: #22542c;
    color: white;
    cursor: pointer;
}

/* .optionDefault {
    display: none;
} */

.createLocation {
    background-color: #22542c;
    color: white;
    cursor: pointer;
    padding: 0.2em;
    border-radius: 0.5em;
    font-size: 1em;
    width: 90%;
    margin-bottom: 2em;
    color: white;
    font-size: 2em;
}

div.submit {
    text-align: center;
}


#submitButton {
    background-color: #f0a92e;
    margin-bottom: 1em;
}

#submitButton:hover {
    background-color: #ffb432;
}
