.title {
    text-align: center;
    font-weight: bold;
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.mainImage {
    width: 20em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    border-radius: 25px;
}

.reviewStars {
    margin-top: 2em;
    margin-left: 3em;
}

.description {
    text-align: left;
    margin-top: 1em;

    width: 80%;
    float: left;
    margin-left: 3em;
}
