h1,
a,
span.button {
    font-family: Arial, Helvetica, sans-serif
}

header {
    /* background-color: #e4e4e4; */
    background: linear-gradient(rgba(33, 84, 44, 0.8), rgba(15, 15, 15, 1) 90%), url(/images/lofiRainBackground.jpg) no-repeat center center/cover;
    color: #D3D0CB;
    padding: 10em 0;

    display: flex;
    text-align: center;
    justify-content: center;
    /* border-top: 1px solid #333333; */
    border-bottom: 1px solid #333333;
}

header h1 {
    font-size: 3em;
}

header span {
    font-weight: 600;
    color: white;
}

header a {
    text-decoration: none;
    color: #D3D0CB;
    padding: 10px;

    font-size: larger;
    font-weight: 600;


}

header a:hover {
    color: rgb(92, 92, 92);
}

header span.button {
    background-color: #D3D0CB;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

header span.button a {
    color: black;
}

header span.button:hover {
    background-color: grey;
}

header span.button a:hover {
    color: #cccccc;
}
