.mainProfile {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    align-content: center;
    margin-top: 3rem;
    margin-left: 2rem;
}
.image {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 25%;
    /* float: left; */
    background-color: gray;
}
.username {
    background-color: lightgray;
    border-radius: 25px;
    height: 2.5rem;
    width: 15rem;
    margin-left: 1rem;
    padding-top: 2.5%;
    padding-left: 1rem;
    margin-top: 1rem;
}
.bio {
    background-color: lightgray;
    border-radius: 25px;
    height: 2.5rem;
    width: 15rem;
    margin-left: 1rem;
    padding-top: 2.5%;
    padding-left: 1rem;
    margin-top: 0.5rem;
    height: 4.5rem;
}