main {
    padding-bottom: 5rem;
}
.mainProfile {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 3rem;
    margin-left: 2rem;
}
.image {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 25%;
    background-color: lightgray;
}
.username {
    background-color: lightgray;
    border-radius: 25px;
    height: 2.5rem;
    width: 15rem;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-top: 2.5%;
    padding-left: 1rem;
}
.bio {
    background-color: lightgray;
    border-radius: 25px;
    height: 2.5rem;
    width: 15rem;
    margin-left: 1rem;
    margin-right: 2rem;
    padding-top: 2.5%;
    padding-left: 1rem;
    margin-top: 0.5rem;
    height: 5.5rem;
}

.reviewContainer {
    background-color: lightgray;
    border-radius: 25px;
    height: 15rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}
.reviewContainerTitle {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    position: relative;
    font-size:  1.2rem;
}

.settings {
    background-color: lightgray;
    border-radius: 25px;
    height: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icons {
    margin-left: 2rem;
}
.text {
    text-align: right;
    margin-left: 6rem;
}