main {
    margin: auto;
    max-width: 800px;
}

section,
article {
    margin: 2em 4em;
}

h1 {
    padding-top: 0.5em;
    padding-left: 1em;
    color: #D3D0CB;
}

article h3 {
    padding-top: 1em;
    padding-bottom: 0.50em;
    font-size: larger;
    color: #D3D0CB;
}

#signInPrompt {
    text-align: center;
    margin-right: 2em;
    margin-left: 2em;
    padding: 0.5em;
}

#signInPrompt h3 {
    color: #3b77b6;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 0.50em;

}

#signInPrompt button {
    background-color: #3b77b6;
    color: #D3D0CB;
    border-radius: 1.5em;
    padding: none;
}

#signInPrompt button:hover {
    background-color: #488eda;
}

#reviewTitle {
    padding: 10px;
    color: #171d1cff;
    font-size: larger;
}

#reviewBox {
    background: #D3D0CB;
    padding: 1em;

    border-radius: 0.5em;
}

#form-control {
    color: #171d1cff;
}

#submitReview {
    flex: none;
    margin-left: 8px;
}

#submitButton {
    color: #171d1cff;
    background: #f0a92e;
}

#submitButton:hover {
    background: #ffb432;
}

label.px-4 {
    color: #171d1cff;
}

@media only screen and (max-width: 650px) {

    main {
        margin: 2em;
    }

    section,
    article {
        margin: 0;
    }
}


#signInButtonActual {
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
