main {
    margin: 2em;
}

section,
article {
    margin: 2em 4em;
}

h1 {
    padding-top: 0.5em;
    padding-left: 1em;
    color: #D3D0CB;
}

article h3 {
    padding-top: 5px;
    color: #D3D0CB;
}

#reviewTitle {
    padding: 10px;
    color: #171d1cff;
    font-size: larger;
}

#reviewBox {
    background: #D3D0CB;
    padding: 1em;

    border: 3px solid #171d1cff;
    border-radius: 1em;
}

#form-control {
    color: #171d1cff;
}

#submitReview {
    flex: none;
    margin-left: 8px;
}

#submitButton {
    color: #171d1cff;
    background: #f0a92e;
}

#submitButton:hover {
    background: #ffb432;
}
