section {
    display: grid;
    margin: 2.5em;
}

div.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #22542c;
    max-width: 100em;
    float: left;
    width: 85%;
    background: #f1f1f1;
    padding-left: 1em;

    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;

    display: block;
}

div.search-bar button {
    float: left;
    width: 15%;
    padding: 10px;
    background: #f0a92e;
    color: #D3D0CB;
    font-size: 17px;
    border: 1px solid #22542c;
    border-left: none;
    cursor: pointer;
    padding-right: 1em;

    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
}

div.search-bar button:hover {
    background: #ffb432;
}

#filter-section {
    padding: 2em 0;

    justify-content: center;
    align-items: center;
    text-align: center;
}

section button.filter-button {
    color: none;
    background-color: inherit;
    border-radius: 3em;

    padding-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;

}

section a {
    padding-left: 2em;
}

section a.button {
    font-weight: 600;
    border: 2px solid #3b77b6;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;

    background-color: none;
}

section a.button.activated {
    background-color: #3b77b6;
    color: #D3D0CB;
}

.noLocationsFound {
    text-align: center;
    color: black;
    background-color: #d3d0cb;
    margin-right: 2em;
    margin-left: 2em;
    border-radius: 1em;
    padding: 0.5em;
}

.addNewSpots {
    text-align: center;
    color: white;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 1em;
}

#createButton {
    background-color: #3b77b6;
    color: #D3D0CB;
    padding: 8px;
    border-radius: 15px;
    text-decoration: none;
}

#createButton:hover {
    background-color: #488eda;
}

.apology {
    font-size: 1.5em;
}
